:root {
    --square-size: 20px;
}

#container {
    display: inline-flex;
    border: black solid 1px;
}

.square {
    width: var(--square-size);
    height: var(--square-size);
    border: lightgray solid 1px;
}